{{ if ne .Site.DisqusShortname "" }}
    <article class="post">
        {{ template "_internal/disqus.html" . }}
    </article>
{{ else if .Site.Params.graphcomment.graphcomment }}
    <article class="post">
        {{ partial "graphcomment.html" . }}
    </article>
{{ end }}

Metro encourages all of our readers to contribute to this site in the form of comments, code samples, and constructive criticism.

Our goal is to maintain a community where readers feel free to express themselves. We also recognize that some conversations following articles, posts, photos and other content on this site can descend into sniping and personal attacks. When this happens, we reserve the right to close the comments on those pages and to remove those comments.